#contact {
  .copyright {
    p {
      color: rgb(var(--lightGray-text-color));
    }
  }
}

.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__footer-head-text {
  background-color: rgb(var(--background-secondary-color));
  padding: 1rem;
  border-radius: 1rem;
}
.app__footer-cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 4rem 2rem 2rem;

  .app__footer-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(var(--primary-color));
    transition: all 0.3s ease-in-out;
    svg {
      width: 40px;
      height: 40px;
      margin: 0 0 0.7rem;
      fill: rgb(var(--accent-color));
      margin: 0.1rem;
      transition: all 0.3s ease-in-out;
    }
    p {
      font-weight: 600;
    }
    a {
      color: rgb(var(--text-color));
      text-decoration: none;
      font-weight: 700;
    }
    &:hover {
      box-shadow: 0 0 25px rgb(var(--background-secondary-color));
      svg {
        fill: rgb(var(--text-color));
      }
    }
    @media screen and (max-width: 450px) {
      width: 90%;
      max-width: 100%;
      min-width: 280px;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;

    margin: 2rem 0;
  }
}

.app__footer-cards .app__footer-card:last-child {
  background-color: rgba(var(--secondary-color));
  a {
    color: rgb(var(--gray-text-color));
  }
}

.app__footer-form {
  width: 60%;
  flex-direction: column;
  margin: 1rem;
  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(var(--background-secondary-color), 0.7);
    transition: all 0.3sec ease-in-out;
    padding-bottom: 0.5rem;
    input,
    textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      border-radius: 7px;
      background-color: rgba(var(--background-secondary-color), 0.9);

      font-family: var(--font-base);
      color: rgb(var(--secondary-color));
      outline: none;
    }
    textarea {
      height: 170px;
      max-width: 100%;
      min-width: 100%;
      max-height: 170px;
      min-height: 170px;
      resize: none;
    }
    &:hover {
      box-shadow: 0 0 25px rgb(var(--background-secondary-color));
      scale: 1.01;
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rgba(var(--secondary-color), 0.95);
    font-weight: 500;
    color: rgb(var(--white-color));
    outline: none;
    transition: all 0.5sec ease-in-out;
    margin: 2rem 0 0 0;
    font-family: var(--font-base);
    font-weight: 500;
    cursor: pointer;
    border: 0.1rem solid rgb(var(--black-color));
    &:hover {
      background-color: rgba(var(--secondary-color), 1);
      font-weight: 650;
      border: 0.1rem solid rgb(var(--primary-color));
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
}
